.header{
    height:105px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.header__logo {
    margin:0 225px;
    margin-bottom: 15px;
}

.header__menu {
    margin-left: 560px;
    margin-right: 229px;
}

.header-menu {
    margin-right: 229px;
    list-style: none;
    margin: 0 ;
    display: inline-flex;
    font-size: 16px;
    font-family: "Nexa Slab";
    color: black;
}

.header-menu__item {
    margin: 0 20px; 
}

.header-menu__item:first-child {
    margin-left: 0;
}

.header-menu__item:last-child {
    margin-right: 0;
}

.header-menu__item:after {
    content: "";
    display: none;
    border-radius: 100%;
    height:8px;
    width:8px;
    background: #86c840;
    position: relative;
    left: 50%;
    margin-left: -4px;
    margin-top: 6px;
}

.header-menu__item_active:after,
.header-menu__item:hover:after {
    display: inline-block;
}

.header-menu__item_first {
    margin-left: 0;
}

.header-menu__item_last {
    margin-right: 0;
}

.header-menu-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

