@import "http://fonts.fontstorage.com/import/nexaslab.css";

.header {
    padding: 40px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    bottom: 10px;
}

